@{
    ViewBag.Title = "Register";
}

@*<!doctype html>
    <html lang="en" ng-app>
    <head>
        <meta charset="utf-8">
        <title>Register Page</title>
        <link href="~/content/semantic/css/semantic.min.css" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css" />
        <link rel="stylesheet" href="~/Scripts/bootstrap.css" />

        <script src="~/Scripts/jquery-1.8.2.js" type="text/javascript"></script>
        <script src="~/Scripts/jquery.ui.draggable.js" type="text/javascript"></script>

        <!-- Core files -->
        <script src="~/Scripts/jquery.alerts.js" type="text/javascript"></script>
        <link href="~/Content/jquery.alerts.css" rel="stylesheet" type="text/css" media="screen" />

        @Styles.Render("~/Content/css")

    </head>
    <body>

        *@
    <div class="container" style="width:600px;">
        @*<div class="float-right">
            <nav>
                <ul id="menu">
                    <li>@Html.ActionLink("View Users", "DisplayCustomers", "Customer", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("Register Me", "Register", "Home", new { area = "" }, null)</li>
                </ul>
            </nav>
        </div>*@
        <h2>Please Register below</h2>

        <div class="ui form segment" ng-controller="RegisterController">

            <div class="ui inverted dimmer" ng-class="{true: 'active', false: 'disabled'}[loading]">
                <div class="ui text loader" id="Loading">Please wait while Registering you...</div>
            </div>


            <div class="two fields">
                <div class="field">
                    <label for="GivenName">First Name</label>
                    <div class="ui icon input">
                        <input id="GivenName" placeholder="First Name" type="text" ng-model="user.givenname">
                        <i class="asterisk red icon"></i>
                    </div>
                </div>

                <div class="field">
                    <label for="Surname">Surname</label>
                    <div class="ui icon input">
                        <input id="Surname" placeholder="Surname" type="text" ng-model="user.surname">
                        <i class="asterisk red icon"></i>
                    </div>
                </div>
            </div>

            <div class="field">
                <label for="Email">Email</label>
                <div class="ui icon input">
                    <input id="Email" placeholder="Email" type="text" ng-model="user.email">
                    <i class="asterisk red icon"></i>
                </div>
            </div>

            <div class="field">
                <label for="Username">Username</label>
                <div class="ui icon input">
                    <input id="Username" placeholder="Username" type="text" ng-model="user.username">
                    <i class="asterisk red icon"></i>
                </div>
            </div>

            <div class="field">
                <label for="Password">Password</label>
                <div class="ui icon input">
                    <input id="Password" placeholder="Password" type="password" ng-model="user.password">
                    <i class="asterisk red icon"></i>
                </div>
            </div>

            <div class="field">
                <label for="PasswordConfirm">Password Confirm</label>
                <div class="ui icon input">
                    <input id="PasswordConfirm" type="password" ng-model="user.passwordConfirm">
                </div>
            </div>

            <button class="ui blue button" ng-click="register()">Submit</button>

            <div class="ui error message"></div>
        </div>

    </div>

    <script src="~/content/jquery-1.10.2.min.js"></script>
    <script src="~/content/semantic/javascript/semantic.min.js"></script>

    <script src="~/content/angular.min.js"></script>

    <script>

        (function ($) {
            $('.ui.form').form({
                givenName: {
                    identifier: 'GivenName',
                    rules: [{
                        type: 'empty',
                        prompt: 'Please enter your given name'
                    }]
                },
                surname: {
                    identifier: 'Surname',
                    rules: [{
                        type: 'empty',
                        prompt: 'Please enter your surname'
                    }]
                },
                username: {
                    identifier: 'Username',
                    rules: [{
                        type: 'empty',
                        prompt: 'Please enter a username'
                    }]
                },
                email: {
                    identifier: 'Email',
                    rules: [{
                        type: 'empty',
                        prompt: 'Please enter your email'
                    }, {
                        type: 'email',
                        prompt: 'Please enter a valid email'
                    }]
                },
                password: {
                    identifier: 'Password',
                    rules: [{
                        type: 'empty',
                        prompt: 'Please enter a password'
                    }, {
                        type: 'length[6]',
                        prompt: 'Password needs to be atleast 6 characters long'
                    }]
                },
                passwordConfirm: {
                    identifier: 'PasswordConfirm',
                    rules: [{
                        type: 'match[Password]',
                        prompt: 'Password don\'t match'
                    }]
                }
            }, {
                on: 'blur'
            });
        }(jQuery));


        // This is the Angular Controller function call used in ng-Controller
        function RegisterController($scope, $element) {
            var registrationForm = $($element);

            $scope.user = {};
            $scope.loading = false;

            $scope.isInvalid = function () {
                return !registrationForm.form('validate form');
            };

            $scope.register = function () {
                if (this.isInvalid()) {
                    return;
                }

                this.loading = true;
                // To call the Web API throgh ajax Get() to send the Angular Model (ng-Model)
                var user = {
                    name: $scope.user.givenname,
                    surname: $scope.user.surname,
                    email: $scope.user.email,
                    username: $scope.user.username,
                    password: $scope.user.password
                };
                var request = $.ajax({
                    url: '/api/Registration',
                    type: "POST",
                    data: JSON.stringify(user),
                    contentType: 'application/json',
                    //dataType: 'json'

                });


                request.done(function (msg) {

                    $scope.loading = false;
                    //alert(msg);
                    if (msg.trim() == "Success") {
                        $("#Loading").html("Thanks for Registering our Website!! <a href='/'>Click here</a> to exit  :)");
                       // $scope.loading = false;
                        jAlert('Thanks for Registering our Website!!', 'Registration is Successful');
                        //$scope.user.givenname = "";
                        //$('.ui.form').reset();
                        document.getElementById("GivenName").Value = "";
                        document.getElementById("Surname").Value = "";
                        document.getElementById("Email").Value = "";
                        document.getElementById("Username").Value = "";
                        document.getElementById("Password").Value = "";
                        document.getElementById("PasswordConfirm").Value = "";

                    }
                    else {
                        $("#Loading").text("Registration is unsuccessful!! Please try again");
                        jAlert('Registering Unsuccessful!!Please try again', 'Registration is Unsuccessful');
                    }
                    //this.loading = true;

                    console.debug("saved comment", msg);
                });

                request.fail(function (jqXHR, textStatus) {
              //      alert("Request failed: " + textStatus);
                    $("#Loading").text("Registration is unsuccessful!! Please try again");
                    jAlert('Registering Unsuccessful!!Please try again', 'Registration is Unsuccessful');

                });
               // this.loading = false;
                /*   $http(req).success(function (data,status) {
                       this.loading = false;
                       alert(data + status);
                   }).error(function (data, status) {
                       alert(status);
                   });*/

                console.log(this.user);
            };

        }

    </script>
@*</body>
</html>*@

