<div id="body">
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Welcome to Quetzalcoatl!</h1>
                @*<h2>Modify the code in this template to jump-start your ASP.NET Web API development.</h2>*@
            </hgroup>
            <p>
                Quetzalcoatl is unified platform that provides E2E Organizational Management Solution.
            </p>
            <p>
                To learn more about us visit the
                <a href="#" title="Navacharics">Navacharics Website</a>.
                The page features <mark>videos and samples</mark> to help you get more information about us.
                If you have any questions about our tool, visit
                <a href="#" title="Navacharics Forum">our forums</a>.
            </p>
        </div>
    </section>
    <section class="content-wrapper main-content clear-fix">
        <h3>We suggest the following steps:</h3>
        <ol class="round">
            <li class="one">
                <h5>Getting Started</h5>
                Quetzalcoatl is a tool that makes it easy to manage E2E organizational servives to
                a broad range of clients, including browsers and mobile devices.
                <a href="#">Learn more…</a><br />&nbsp;
            </li>

            <li class="two">
                <h5>Use Our Trial Version</h5>
                Quetzalcoatl makes your life easy.
                <a href="#">Learn more…</a><br />&nbsp;
            </li>
            <li class="three">
                <h5>Contact us for your customized needs</h5>
                You can easily find the right mix of features
                and price for your requirements.
                <a href="#">Learn more…</a><br />&nbsp;
            </li>
        </ol>
    </section>
</div>
