@{
    ViewBag.Title = "CarStock";
}

<h2>CarStock</h2>
<script src="~/Scripts/jquery-1.8.2.min.js"></script>
<script language="javascript" type="text/javascript">
    function AllcarDetails() {
        $.ajax({
            type: "GET",
            url: "http://localhost:54541/api/Cardetails", //URI

            dataType: "json",
            success: function (data) {
                debugger;
                var datavalue = data;
                var myJsonObject = datavalue;
                contentType: "application/json";
                $.each(myJsonObject, function (i, mobj) {
                    $("#Cartbl").append('<tr><td width="50px">' + mobj.CarName +
                     '</td><td width="50px">' + mobj.CarModel +
                    '</td><td width="50px">' + mobj.CarPrice +
                    '</td>' + '</td><td width="50px">'
                    + mobj.CarColor + '</td></tr>');

                });

            },
            error: function (xhr) {
                alert(xhr.responseText);
            }
        });

    }

    function PostData() {

        var cardetails =
       {
           CarName: "Ertiga",
           CarModel: "LXI",
           CarPrice: "5000000",
           CarColor: "blue"
       };

        $.ajax({
            type: "POST",
            data: JSON.stringify(cardetails),
            url: "http://localhost:54541/api/Cardetails",
            dataType: "json",
            contentType: "application/json",
        });

    }

    function PutData() {

        var cardetails =
         {

             CarName: "Ertiga",
             CarModel: "LXI",
             CarPrice: "5000000",
             CarColor: "blue"

         };

        var t = JSON.stringify(cardetails);
        var id = "0";
        $.ajax({
            url: 'http://localhost:54541/api/Cardetails/' + id,
            type: "put",
            contentType: "application/json; charset=utf-8",
            data: t,
            dataType: "json",

        });
    }

    function deleteData1() {
        var id = 0;
        $.ajax({
            url: 'http://localhost:54541/api/CarDetails/' + id,
            type: 'DELETE',
            success: function (data) {

            },
            error: function (data) {
                alert('Problem in deleting car:' + data.responseText);
            }
        });
    }

    function GetCarById() {
        var id = 1;
        $.ajax({
            url: 'http://localhost:54541/api/CarDetails/' + id,
            type: 'GET',
            dataType: "json",
            success: function (data) {

                var datavalue = data;
                var myJsonObject = datavalue;

                var CarModel = myJsonObject[0].CarModel;
                var CarName = myJsonObject[0].CarName;
                var CarColor = myJsonObject[0].CarColor;
                var CarPrice = myJsonObject[0].CarPrice;

                $('<tr><td>' + CarModel + '</td><td>' + CarName +
                '</td><td>' + CarColor + '</td>' + '</td><td>' + CarPrice + '</td></tr>').appendTo('#Cartbl');
            },
            error: function (xhr) {
                alert(xhr.responseText);
            }
        });
    }

</script>

@using (Html.BeginForm())
{ 
    <div style="text-align:center;">
        @*<table id="Cartbl"></table>*@
        <table border="1" width="70%" style="color:chocolate" id="Cartbl">
            <tr>
                <td>
                    <input id="btnget" type="button" onclick="AllcarDetails();" value="Get_Data" />
                    <input id="btngetbyid" type="button" onclick="GetcarById();" value="Get_BYID" />
                    <input id="Btnpost" type="button" onclick="PostData();" value="Post_Data" />
                    <input id="Btninput" type="button" onclick="PutData();" value="Put_Data" />
                    <input id="BtnDelete" type="button" onclick="deleteData1();" value="Delete" />
                </td>
            </tr>
        </table>
    </div>
}